<div th:fragment="sidebar" id="sidebar" class="sidebar responsive ace-save-state"
     data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true" xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large">
            <a th:href="@{/}">
                <img th:src="@{/img/home-button.png}" alt="home-button" title="Home"
                     style="text-align: center; width: 41px; line-height: 24px; padding: 0; border-width: 4px;">
            </a>
        </div>
    </div>
    <ul class="nav nav-list" style="top: 0;">
        <li class="">
            <a href="#" class="dropdown-toggle">
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor"-->
<!--                     class="bi bi-buildings-fill" viewBox="0 0 16 16">-->
<!--                    <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"></path>-->
<!--                </svg>-->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
                <span class="menu-text"> Quản Lý Danh Mục</span>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="active open">
                    <a th:href="@{/admin/category/lists}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh Sách Danh Mục
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor"-->
<!--                     class="bi bi-buildings-fill" viewBox="0 0 16 16">-->
<!--                    <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"></path>-->
<!--                </svg>-->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
                <span class="menu-text"> Quản Lý Sản Phẩm</span>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="active open">
                    <a th:href="@{/admin/category/lists}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh Sách Sản Phẩm
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor"-->
<!--                     class="bi bi-buildings-fill" viewBox="0 0 16 16">-->
<!--                    <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"></path>-->
<!--                </svg>-->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
                <span class="menu-text"> Quản Lý Hãng</span>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="active open">
                    <a th:href="@{/admin/category/lists}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh Sách Hãng
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>
</div>